.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: var(--background-alt);
}

.price {
  display: flex;
  align-items: center;
}