.ingredients {
  height: calc(100vh - 260px);
  overflow: scroll;
  padding: 0 20px;
}

.ingredientsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 40px;
}

.title {
  margin-top: 40px;
}
