.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileWrapper {
  max-width: 860px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 260px);
}

.profileMenu {
  display: flex;
  flex-direction: column;
}

.profileMenu a.active {
  color: white;
  text-decoration: none;
}

.profileMenu a {
  color: #8585ad;
  text-decoration: none;
}

.buttonsWrapper {
  align-self: flex-end;
  min-height: 64px;
}

.ingredientWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedWrapper {
  width: 1280px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 260px);
}

.feedInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.feedOrders {
  height: calc(100vh - 240px);
  overflow: scroll;
}

.feedOrderList {
  display: flex;
  margin-bottom: 60px;
}

.feedItemWrapper {
  max-width: 640px;
  width: 100%;
  margin-top: 120px;
}

.feedItemElementWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedItemElementInfo {
  display: flex;
  align-items: center;
}

.feedItemElementPrice {
  display: flex;
  align-items: center;
}

.feedItemElementInfo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #4c4cff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-right: 16px;
}

.feedItemFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedItemFooterPrice {
  display: flex;
  align-items: center;
}

.feedItemFooterPrice svg {
  margin-left: 10px;
}

.ingredientsList {
  height: 400px;
  overflow: scroll;
  padding-right: 20px;
}

.myOrders {
  max-height: 700px;
  overflow: scroll;
}